<body>
<div class="row ">
  <div class="col-12">
    <form class="alert alert-dark" >
        <div class="row">
          <div class="col-6">
            <h3 class="" >_Tiene {{reservaciones}} reservaciones</h3>
          </div>
        </div>

        <hr>
        <label class="">Reservaciones mas recientes</label>
            
        <div class="form-row">
          <div class="col">
                <!-- Listado de reservaciones -->
            <button class="btn btn-primary">Reserv. A00923</button>
            <button class="btn btn-success">Reserv. B04624</button>
            <button class="btn btn-success">Reserv. B04630</button>
          </div>
        </div>        
        
        <hr>
          
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Buscar reservacion por ID">
            </div>
            <div class="col">
            <button class="btn btn-dark">Buscar</button>
          </div>
        </div>
    </form>
  </div>
</div>



  <div class="row">
    <div class="col-12">
      <form class="alert alert-info">
        <div class="clearfix">
  
              <div class="float-left">
                <h4> Evento: {{id_evento}} </h4>
              </div>
  
              <div class="float-right">
                <button class="btn btn-info ">Modificar Evento</button>
                <button class="btn btn-info ">Eliminar Evento</button>
              </div>

        </div>
      </form>
    </div>
  </div>



    <div class="row">
      <div class="col-12">
        <form action="" class="alert alert-dark">

            <h4> Mesa: {{n}}</h4>
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td> <button class="btn btn-info btn-sm">Quitar</button> </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td> <button class="btn btn-info btn-sm">Quitar</button> </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td> Apellido </td>
                    <td> <button class="btn btn-info btn-sm">Quitar</button> </td>
                  </tr>
   
                </tbody>

              </table>
        </form>
      </div>
    </div>





</body>