<div class="container">
  <form class = "alert alert-dark" enctype="multipart/form-data">
  
<hr>

  <div class="form-group">
      <label><b>Nombre</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" name="user" [(ngModel)]="form.nombre" >
  </div>

  <div class="form-group">
    <label><b>Nombre</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="user" [(ngModel)]="form.apellido" >
  </div>
  
  <div class="form-group">
    <label><b>Nombre</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="user" [(ngModel)]="form.edad" >
  </div>

  <div class="form-group">
      <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Masculino">Masculino
      <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Femenino">Femenino
  </div>

<hr>

  <div class="form-group">
    <label><b>E-Mail</b></label>
    <input type="email" class="form-control" placeholder="Enter mail" name="mail" [(ngModel)]="form.mail" >
  </div>

  <div class="form-group">
      <label><b>Contraseña</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="pass" [(ngModel)]="form.password" >
  </div>

<hr>

  <div class="form-group">
    <label><b>Foto de avatar</b></label>
    <input type="File" class="form-control" placeholder="Click para subir una imagen" id="foto" name="foto" (change)=tomarFoto($event)>
  </div>
  
<hr>

  <div align="center">
    <button align="center" class="btn btn-primary" type="submit" (click)="alta()">Registrarse</button>
  </div>
  


  </form>
</div>